.social-icons {
  li {
    a {
      color: rgb(255, 255, 255);
      i {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-size:25px;
        text-align: center;
        background-color: rgb(64, 214, 61);
        margin-right: 10px;
        padding-top: 15%;
        &.fa-twitter {
          background-color: #00aced;
        }
        &.fa-github {
          background-color: #778899;
        }
      }
    }
  }
}
