{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SneakyCr0w.com - Full Stack Web Developer</title>
  <!-- BOOTSTRAP & CUSTOM CSS -->
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <!-- HEADER -->
  <nav class="navbar navbar-full navbar-light">
    <a href="#" class="navbar-brand">
      <img src="{% static 'media/crow_brand.png' %}" alt="">
    </a>
    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="" data-toggle="modal" data-target="#contactForm" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="https://zacharysohovich.github.io/" class="nav-link">Blog</a></li>
      <li class="nav-item"><a href="/work" class="nav-link">Work</a></li>
    </ul>
  </nav>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12 text-xs-center">
        <img src="{% static 'media/crow.jpg' %}" alt="" id="crow" class="img-fluid">
      </div>
    </div>
  </div> -->
  <!-- CONTENT -->
  {% block content %}
  {% endblock %}
  <!-- FOOTER -->
  <hr>
  <footer class="text-xs-center">
    <p>Created with <i class="fa fa-heart"></i> using <a href="https://djangoproject.com/" class="text-muted">Django</a></p>
    <p>Developed and Designed by <a href="" data-toggle="modal" data-target="#contactForm">Zachary E. Sohovich</a></p>
  </footer>
  <!-- JS -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/tether.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>

  <!-- GOOGLE ANALYTICS -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83732974-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
