@import url( 'https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323');
$quicksand: 'Quicksand', sans-serif;
$nunito: 'Nunito', sans-serif;
$pacifico: 'Pacifico', sans-serif;
$rubik: 'Rubik', sans-serif;

.profile {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
  box-shadow: 0 0 2em rgb(142, 142, 142);
}

body {
  font-family: $nunito;
  margin-top: 2%;
  background-color: #fbfbfb;
  color: rgb(28, 28, 28);
}

.fa {
  cursor: pointer;

  &:hover {
    transition: color 0.25s;
  }
}

.fa-dribbble {
  &:hover {
    color: rgb(200, 20, 182);
  }
}

.fa-github {
  &:hover {
    color: rgb(116, 116, 116);
  }
}

.fa-book {
  &:hover {
    color: rgb(68, 106, 199);
  }
}

.btn {
  border-radius: 2px;
  font-family: $rubik;
  font-weight: 400;
  box-shadow: 0 3px 0 rgb(0, 75, 163);
  margin: 5px;
}

.card {
  margin: 10px;
  box-shadow: 0 0 1em rgb(218, 218, 218);
}
a i.fa {
  color: rgb(28, 28, 28);
}
