$ubuntu-font: 'Ubuntu', sans-serif;
$raleway-font: 'Raleway', sans-serif;
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: $ubuntu-font;
  color: rgb(41, 41, 41);
  background-color: rgb(255, 255, 255);
}
a {
  color: rgb(71, 207, 105);
}
/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 56rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}
.row {
  margin-top: 10px;
}
.nav-link {
  color: rgb(0, 0, 0) !important;
  text-align: center;
  &:first-child {
    margin-top: 5px;
  }
  &:hover {
    color: rgb(66, 204, 81) !important;
  }
  &.active {
    // background-color: rgb(66, 204, 81) !important;
    background: linear-gradient(180deg, rgb(82, 245, 113), rgb(76, 215, 95)) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 3px;
  }
}
.zach {
  height: 200px;
  width: 200px;
}
ul {
  &.social {
    font-size: 1.5rem;
  }
}
dl {
  font-family: $raleway-font;
  dd {
    font-size: .9rem;
  }
}
p {
  font-family: $raleway-font;
}
