.navList {
  list-style-type: none;
}
.navItem {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 25px;
  line-height: 25px;
}
.navLink {
  text-transform: lowercase;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: blue;
  }
}
