@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Ubuntu');

$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$header-font: $ubuntu;
$body-font: $raleway;

body {
  background-color: #27233a;
  font-family: $body-font;
  color: #779cab;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: #32de8a;
}
ul, li {
  color: #a2e8dd;
}
a {
  color: #627c85;
  &:hover {
    text-decoration: none;
    color: #32de8a;
  }
}
